* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family : font1;
}

.card-container {
  width: 100%;
  height: 100%;
  background-color: black;
  padding-top: 8rem;
}
.card {
  width: 40%;
  height: max-content;
  background-color: darkgray;
  margin: 0 auto;
  direction: rtl;
  border-radius: 1rem;
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-inline: 1.5rem;
  padding-top: 1rem;
}
.card-cityname {
  font-size: 3rem;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem;
}
.temp,
.skystatus,
.temps {
  margin-bottom: 1rem;
}
.temp {
  font-size: 5rem;
  display:flex;
}
